@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 100%;
  height: 100vh;
  background-color: black;
  margin: 0;
}

* {
  font-family: "POPPINS";
  margin: 0;
  color: white;
}

header {
  background-color: black;
  border-radius: 5px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* gap: 20px; */
  background-color: #333333;
}

header nav h1 {
  margin-right: auto;
}

header .nav-links {
  display: flex;
}
header .nav-links > a {
  /* vertical-align: middle;
  padding: 5px;
  text-decoration: none;
  font-size: large;
  border-radius: 5px;
  background-color: #666666; */
  display: block;
  padding: 5px 10px;
  margin: auto 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #666666;
  border-radius: 5px;
}

.menu-toggle {
  cursor: pointer;
  margin-right: 10px;
  display: none;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

header .nav-links > a.active {
  background-color: white;
  color: black;
}

h2 {
  padding: 10px;
}

p {
  text-align: justify;
  padding: 10px;
  line-height: 2em;
}

.about li {
  margin: 10px;
}

.home,
.about {
  padding: 10px;
}

.help-template h3 {
  text-align: center;
  padding: 5px;
}

.help-template nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 30px;
}

.help-template nav a {
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  background-color: dimgray;
  border: 2px solid white;
}

.help-template nav > a.active {
  background-color: white;
  color: black;
}

.contact {
  padding: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 300px;
}

.contact-form input,
textarea {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.contact-form button {
  padding: 5px;
  width: fit-content;
  border-radius: 4px;
  color: black;
  margin: 0 auto;
}

.hostels-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.hostel {
  background-color: white;
  width: 400px;
  border-radius: 10px;
  transition: transform 0.5s;
  padding: 10px;
  text-decoration: none;
}

.hostel:hover {
  background-color: #cceeff;
  transform: scale(1.05);
}

.hostel > p,
h3 {
  padding: 0px 3px;
  color: black;
}

.hostel > p::first-letter {
  text-transform: uppercase;
}

.faqs {
  padding: 10px;
}

.faq {
  background-color: #333333;
  margin: 10px auto;
  border-radius: 10px;
}

.hostel-template nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
  gap: 30px;
}

.hostel-template nav a {
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  background-color: dimgray;
}

.hostel-template nav > a.active {
  background-color: white;
  color: black;
}

.hostel-form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.hostel-form > input {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  font-size: medium;
}

.hostel-form > button {
  width: fit-content;
  font-size: large;
  padding: 5px;
  color: black;
  margin: 5px auto;
  border-radius: 5px;
}

.hostel-template-guide {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.hostel-details {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 20px;
}

.hostel-details > * {
  color: #333333;
  padding: 5px;
}

.hostel-error,
hostels-error {
  padding: 10px;
}

@media (max-width: 580px) {
  .menu-toggle {
    cursor: pointer;
    margin-right: 10px;
    display: block;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }

  header {
    width: 100%;
  }
  header nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
  }

  header nav .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    gap: 10px;
    z-index: 100;
    background-color: #333333;
    transition: opacity 0.5s ease-in;
    opacity: 1;
  }

  header nav.open .nav-links {
    display: flex;
    flex-direction: column;
  }

  .hostel-form {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .hostel-form > input {
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    color: black;
    font-weight: 500;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }
}
